<hr>
<div class="container text-center">
        <p> Como casi todo informático uno siempre quiere tener su pequeño espacio en Internet, y este será el mio.
    <img class="rounded-circle w-50 pt-4 pb-4" src="../../../assets/primeraEntrada.jpg" alt="Codigo primera entrada"><br>
    Aunque a simple vista solo se ve una página estática y simple, por detrás existe código no publicado, y que quizá no se publique jamás.
    Ya que como programador junior necesito experimentar códigos y aprender lenguajes nuevos y poder probarlos para poder aumentar mis conocimientos,
     y para eso usaré mi dominio.<br>
    Desde ya, un saludo y gracias por estar leyendo esto.
    </p>
</div>