<footer class="container page-footer font-small blue pt-4">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-12 mt-md-0 mt-3">
                <div class="text-center">
                    <hr class="bg-primary">
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2019 
        <a href="http://www.luismiguelgr.es"> LuisMiguelGR.es</a>
    </div>
</footer>