img {
  width: 250px;
  height: 250px;
}
.fondo {
  background-image: url("../../../assets/fondo-escritorio-opacidad.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: 100% 100%, auto;
}

.example-card {
  max-width: 300px;
}

.example-header-image {
  //background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.example-tab-icon {
  margin-right: 8px;
}

.mapa{
  max-height: 250px;
  height: 250px;
}

