<div class="container">
    <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label>
                <i class="fas fa-address-card"></i>&nbsp;&nbsp;Sobre mi
            </ng-template>
            <div class="container pt-3 fondo">
                <div class="row">
                    <div class="col-sm-4 pb-3">
                        <mat-card class="example-card text-center mx-auto">
                            <!-- <div class="text-center bg-secondary"> -->
                            <img mat-card-image src="../../../assets/miguel.jpeg" alt="Luis Miguel"
                                class="img-thumbnail">
                            <!-- </div> -->
                            <mat-card-content>
                                <h4 class="pt-3 text-center text-primary font-weight-bold">LUIS MIGUEL</h4>
                                <h5 class="text-center text-muted">GARCÍA RODRÍGUEZ</h5>
                            </mat-card-content>
                            <mat-card-actions class="text-center">
                                <button mat-stroked-button>Programador web</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                    <div class="col-sm-8">
                        <br>
                        <h1 class="text-danger">Hola!</h1>
                        <br><br>
                        <h4>Tengo <b>32</b> años. Nací en <b>Monforte de Lemos</b> , <b>Lugo</b>.</h4>
                        <br><br>
                        <h5>Apasionado por la tecnología y fan del código libre.Aficionado a los deportes y amante de
                            los animales y la naturaleza.
                            Me gusta aprender cosas nuevas.
                        </h5>
                        <br><br>
                        <mat-card-actions class="text-center">
                            <button mat-stroked-button color="warn" (click)="abrirCv()">Ver y Descargar
                                curriculum</button>
                        </mat-card-actions>
                    </div>
                </div>
            </div>

        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <i class="fas fa-laptop-code"></i>&nbsp;&nbsp;Proyectos
            </ng-template>
            <div class="container pt-5 fondo font-weight-bold mx-auto">

                <div class="row">
                    <div class="col-sm-3 pb-3 text-danger">
                        Proyecto personal, página web propia
                    </div>
                    <div class="col-sm-3 pb-3">
                        Front-end con Angular + Bootstrap
                    </div>
                    <div class="col-sm-4 pb-3 text-primary text-center">
                        www.luismiguelgr.es
                    </div>
                    <div class="col-sm-2 pb-3">
                        <mat-chip-list>
                            <mat-chip class="mx-auto" color="primary" selected="true" (click)="abrirUrl('http://luismiguelgr.es')">Ver</mat-chip>
                        </mat-chip-list>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3 pb-3 text-danger">
                        Proyecto Plan Proxecta de la Xunta de Galicia
                    </div>
                    <div class="col-sm-3 pb-3">
                        Parte front-end con JavaScript y JQuery
                    </div>
                    <div class="col-sm-4 pb-3 text-primary text-center">
                        www.alertalume.com
                    </div>
                    <div class="col-sm-2 pb-3">
                        <mat-chip-list>
                            <mat-chip class="mx-auto" color="primary" selected="true" (click)="abrirUrl('https://www.alertalume.com/')">
                                Ver</mat-chip>
                        </mat-chip-list>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3 pb-3 text-danger">
                        Aplicación interna para empresa sobre la gestión de personal y curriculums
                    </div>
                    <div class="col-sm-3 pb-3">
                        Front-end con Angular<br>Back-end con Spring
                    </div>
                    <div class="col-sm-4 pb-3 text-primary text-center">
                        www.luismiguelgr.es/proyectos/cvs
                    </div>
                    <div class="col-sm-2 pb-3">
                        <mat-chip-list>
                            <mat-chip color="primary" selected="true" (click)="abrirUrl('http://luismiguelgr.es/proyectos/cvs/')">Ver</mat-chip>     
                            <mat-chip color="warn" selected="true" (click)="abrirUrl('https://gitlab.com/LuisMiguelGR/contratacion')">Ver Código</mat-chip>
                        </mat-chip-list>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3 pb-3 text-danger">
                        Editor de texto simple
                    </div>
                    <div class="col-sm-3 pb-3">
                        Java con Java Swing
                    </div>
                    <div class="col-sm-4 pb-3 text-primary text-center">
                        www.luismiguelgr.es/proyectos/editor
                    </div>
                    <div class="col-sm-2 pb-3">
                        <mat-chip-list>
                            <mat-chip class="mx-auto" color="warn" selected="true" (click)="abrirUrl('https://gitlab.com/LuisMiguelGR/editor')">Ver Código</mat-chip>
                        </mat-chip-list>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3 pb-3 text-danger">
                        Api Rest para aplicación gestión de candidatos
                    </div>
                    <div class="col-sm-3 pb-3">
                        Spring framework, H2, JPA
                    </div>
                    <div class="col-sm-4 pb-3 text-primary text-center">
                        -
                    </div>
                    <div class="col-sm-2 pb-3">
                        <mat-chip-list>
                            <mat-chip class="mx-auto" color="warn" selected="true" (click)="abrirUrl('https://gitlab.com/LuisMiguelGR/apirest_contratacion')">Ver Código</mat-chip>
                        </mat-chip-list>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-sm-3 pb-3 text-danger">

                    </div>
                    <div class="col-sm-3 pb-3">

                    </div>
                    <div class="col-sm-4 pb-3 text-primary text-center">

                    </div>
                    <div class="col-sm-2 pb-3">
                        <mat-chip-list>
                            <mat-chip class="mx-auto" color="primary" selected="true">Ver</mat-chip>
                        </mat-chip-list>
                    </div>
                </div> -->
            </div>

        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <i class="fas fa-code"></i>&nbsp;&nbsp;Habilidades
            </ng-template>
            <div class="container pt-5 fondo">
                <div class="row">
                    <div class="col-sm-12 pb-3 text-center">
                        <p><span class="text-danger"><b>Tecnologias de desarrollo que manejo:</b>
                                <hr></span><br> <b>Java</b>, Spring, <b>PHP</b>, Symfony, <b>MySQL</b>,
                            <b>JavaScript</b>, Angular, JQuery, <b>HTML</b>, <b>CSS</b>, Bootstrap</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <img src="../../../assets/lenguajes2.png" alt="Habilidades" class="w-75 h-75">
                    </div>
                </div>
            </div>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <i class="fas fa-graduation-cap"></i>&nbsp;&nbsp;Formación
            </ng-template>
            <div class="container pt-5 fondo">
                <div class="row">
                    <div class="col-sm-11 pb-3 mx-auto">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Título</th>
                                    <th scope="col">Centro</th>
                                    <th scope="col">Año</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- <tr>
                                    <th scope="row">Desarrollo de aplicaciones multiplataformas (DAM)</th>
                                    <td>San Clemente (A distancia)</td>
                                    <td>2019-Cursando</td>
                                </tr> -->
                                <tr>
                                    <th scope="row">Formación centro de trabajo (FCT - DAW)</th>
                                    <td>Plexus Technologies</td>
                                    <td>Abril-Junio 2019</td>
                                </tr>
                                <tr>
                                    <th scope="row">Desarrollo de aplicaciones web (DAW)</th>
                                    <td>IES A Pinguela</td>
                                    <td>2017-2019</td>
                                </tr>
                                <tr>
                                    <th scope="row">Prueba de acceso mayores de 25</th>
                                    <td>UNED</td>
                                    <td>Mayo 2015</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <i class="fas fa-briefcase"></i>&nbsp;&nbsp;Experiencia
            </ng-template>
            <div class="container pt-5 pb-5 fondo">
                <div class="row">
                    <div class="col-sm-10 pb-3 d-flex justify-content-center mx-auto">
                            <mat-accordion class="col-sm-12">
                            <mat-expansion-panel>
                                <mat-expansion-panel-header class="right-aligned-header">
                                    <mat-panel-title class="font-weight-bold">
                                        Plexus Technologies
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        Programador
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p class="text-center">Desde abril hasta junio del 2019 <br>
                                    Prácticas FCT (384h)
                                </p>
                            </mat-expansion-panel>

                            <mat-expansion-panel>
                                <mat-expansion-panel-header class="right-aligned-header">
                                    <mat-panel-title class="font-weight-bold">
                                        Panadería Sios C.B.
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        Repartidor
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p class="text-center">Desde 2015 hasta 2019 (Discontinuo)</p>
                            </mat-expansion-panel>

                            <mat-expansion-panel>
                                <mat-expansion-panel-header class="right-aligned-header">
                                    <mat-panel-title class="font-weight-bold">
                                        DIA Market
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        Reponedor/Cajero
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p class="text-center">Desde 2015 hasta 2016</p>
                            </mat-expansion-panel>

                            <mat-expansion-panel>
                                <mat-expansion-panel-header class="right-aligned-header">
                                    <mat-panel-title class="font-weight-bold">
                                        Monbus
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        Acompañante escolar
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p class="text-center">Desde 2013 hasta 2014</p>
                            </mat-expansion-panel>

                            <mat-expansion-panel>
                                <mat-expansion-panel-header class="right-aligned-header">
                                    <mat-panel-title class="font-weight-bold">
                                        Panadería Sios C.B.
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        Repartidor
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p class="text-center">Desde 2010 hasta 2011</p>
                            </mat-expansion-panel>

                            <mat-expansion-panel>
                                <mat-expansion-panel-header class="right-aligned-header">
                                    <mat-panel-title class="font-weight-bold">
                                        Panadería Carud C.B.
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        Repartidor/Panadero
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p class="text-center">Desde 2006 hasta 2008</p>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
            </div>

        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <i class="fas fa-address-book"></i>&nbsp;&nbsp;Contacto
            </ng-template>
            <div class="container pt-5 fondo font-weight-bold">
                <div class="row">
                    <!-- <div class="col-sm-6 pb-3">
                            <a href=""><i class="hoverable fas fa-mobile-alt fa-2x mr-3" rel="tooltip" data-placement="top"
                                title="Teléfono"></i></a>
                        <a href=""><i class="fas fa-envelope-open-text fa-2x mr-3" rel="tooltip" data-placement="top"
                                title="Email"></i></a>
                                <a href=""><i class="fab fa-linkedin fa-2x mr-3" rel="tooltip" data-placement="top"
                                    title="LinkedIn"></i></a>
                            <a href=""><i class="fab fa-gitlab fa-2x" rel="tooltip" data-placement="top"
                                    title="GitLab"></i></a>
                       
                    </div> -->
                    <div class="col-sm-5 pb-3">
                        <div class="d-flex justify-content-center">
                            <iframe class="img-thumbnail w-75 mapa"
                                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2549.6607610858036!2d-7.5466878474250745!3d42.51275916926123!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1ses!2ses!4v1561884317934!5m2!1ses!2ses"
                                width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-sm-7 pb-3">
                        <div class="row pb-4">
                            <div class="col-sm-6">
                                <p><a href="https://goo.gl/maps/67ikyxncxJYBbmWn8" target="_blank"><i class="fas fa-home fa-2x" rel="tooltip" data-placement="top"
                                            title="Dirección"></i></a>&nbsp;&nbsp;&nbsp;Carretera Ourense s/n</p>

                            </div>
                            <div class="col-sm-6">
                                <p> <a href="tel:+34664472297"><i class="hoverable fas fa-phone-square-alt fa-2x mr-3" rel="tooltip"
                                            data-placement="top" title="Teléfono"></i></a>&nbsp;&nbsp;664 47 22 97</p>

                            </div>
                        </div>
                        <div class="row pb-4">
                            <div class="col-sm-6">
                                <p><a href="mailto:luismiguelgr@gmx.es"><i class="fas fa-envelope-open-text fa-2x mr-3" rel="tooltip"
                                            data-placement="top" title="Email"></i></a>&nbsp;&nbsp;LuisMiguelGR@gmx.es
                                </p>

                            </div>
                            <div class="col-sm-6">
                                <p><a href="https://es.linkedin.com/in/luis-miguel-garc%C3%ADa-rodr%C3%ADguez-b2603017b"><i class="fab fa-linkedin fa-2x mr-3" rel="tooltip" data-placement="top"
                                            title="LinkedIn"></i></a>&nbsp;&nbsp;LinkedIn</p>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <p><a href="https://gitlab.com/LuisMiguelGR"><i class="fab fa-gitlab fa-2x" rel="tooltip" data-placement="top"
                                            title="GitLab"></i></a>&nbsp;&nbsp;GitLab</p>
                            </div>
                            <div class="col-sm-6">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">

                            </div>
                            <div class="col-sm-8">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </mat-tab>
    </mat-tab-group>
</div>