/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";
// @import "~font-awesome/css/font-awesome.css";
@import "~@fortawesome/fontawesome-free/css/all.css";

@import url(https://fonts.googleapis.com/css?family=Lato);
@import url("https://fonts.googleapis.com/css?family=Mali&display=swap");
@import url("https://fonts.googleapis.com/css?family=Chivo&display=swap");
/* @import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap'); */

body {
  font-family: "Mali", "Lato", "Chivo";
}

.right-aligned-header > .mat-content {
  justify-content: space-between;
}

.mat-content > mat-panel-title,
.mat-content > mat-panel-description {
  flex: 0 0 auto;
}
