<nav class="navbar navbar-expand-sm container bg-primary">

    <a class="navbar-brand" href="#">
        <img src="../../../assets/logo.svg" alt="Luis Miguel" class="logo">
    </a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/inicio">INICIO</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/usuarios">USUARIOS</a>
        </li> -->
        <!-- <li class="nav-item">
                <a class="nav-link" routerLink="/cv">CV</a>
            </li> -->
    </ul>

</nav>